
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,300;1,600&display=swap');
body { 
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #65b1dd;
    margin: 0;
}

.mainpage { 
    display:none; 
}


.topsection {
    background-color: rgb(211, 130, 211);
    height:120px; 
    width: 100vw; 
    text-align:center;
    margin-top:-50px; 
    color:#E1FF29
 
}

.topsection > h1 { 
    font-size: 4rem; 
    padding-top:2rem; 
}

.cardcontainer{
    width:100%; 
    height:90%; 
    display:flex; 
    margin-top:5%; 
    flex-direction: row;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.card { 
    position: relative;
    width:20rem; 
    height:25rem; 
    background-color: #FADCDC; 
    font-family: 'Poppins', sans-serif;
    margin-bottom:50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
     
     

}

.card > h1 { 
    padding-left:2rem; 
}

.card > h2 { 
    font-family: 'Poppins', sans-serif;
    color:green; 
    padding-left:2rem; 
}

.cardimage { 
    width:100%; 
    height:16rem; 
}

.checkbox { 
    position: absolute;
    width:50px; 
    height:50px; 
    background-color: rgb(207, 198, 198);
    z-index: 999;
    right:0%; 
    top:0%; 
  
}

.bottombutton{
    position: absolute;
    background-color: green;
    width:9rem; 
    height:3rem; 
    border-radius: 40px;
    bottom:-20px; 
    z-index: 3;
    left:5rem; 
    color:whitesmoke;
}



.porfoliobutton{
    background-color: red;
    width:8rem; 
    height:3rem; 
    position:absolute; 
    border-radius: 40px;
    left:5%; 
    top:40px; 
    color:white; 
    font-weight: 900px;

   
}

.lessonpage { 
    
    position: absolute;
    z-index: 999;
    height:100%; 
    width:100%; 
    background: linear-gradient(133.48deg, #99DFEE 25.66%, rgba(89, 202, 121, 0.677083) 69.31%, rgba(220, 255, 4, 0) 103.98%);
    top:0; 
    padding:2rem; 
}


.lessonnumber { 
    font-size: 2rem;
    margin-left: 10%;
}

.lessontitle { 
    margin-left:10%; 
    padding-top:.3rem; 
}

.lessonlargetitletext { 
    font-size: 3rem;
    font-weight: 800;
    padding-left: 40% ; 
    padding-bottom:2rem; 

}


#picturewrapper { 
    position: relative;
    display:flex; 
    width:100%; 
    height:50%; 

}

.lessonpicture{
    margin-left: 10%; 
    width:30%; 
    height:100%; 
    background-color: yellow;
    min-width: 200px;
   
    
}

.worddescription{
    margin-left:10%; 
    width:30%; 
    height:100%; 
    background-color: #F4F5BA;
   
}

.navbutton{
    background-color: blue;
    width:10%; 
    height:7%; 
    border-radius: 40px;
    margin-top:3%; 
    margin-left:10%; 
    color:white; 
}

.menubutton { 
    background-color: green;
    width:10%; 
    height:7%;
    margin-left:40%; 
}

#leftarrow { 
    position:absolute; 
    margin-top:10%;
}

#rightarrow { 
    position:absolute; 
    margin-top:10%;
    right:10%; 
}

.voicebutton{ 
 position: absolute;
    border-radius: 40px;
 background-color: blue;
 color:white; 
 height:10%; 
 top:5%; 
 left:55%; 
}

#leftarrowicon, #rightarrowicon { 
    position:absolute; 
    width:6%; 
    height:20%;
    margin-top:12%; 
}

#rightarrowicon { 
right:8%; 
}


